.container {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 7px 0px rgb(208, 203, 203);

}


.video-canvas {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

video {
    height: auto;
}

#options {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
}

div.option {
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: inset 1px 1px 7px 0px black;
}

div.option input {
    margin-right: 8px;
    transform: scale(1.3);
}

div.option label {
    padding: 1rem;
    display: block;
    cursor: pointer;
}

.color-input {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.color-input label,
input[type='color'] {
    cursor: pointer;
}

section {
    display: grid;
    place-items: center;
}

/* Loader */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 5;
    background-color: white;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;

}

.orbit-spinner,
.orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #3f1dff;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #00dc07;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


/* Camera Capture Button */
.photo-button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.photo-button {
    width: 100px;
    height: 100px;
    position: relative;
}

.circle {
    position: absolute;
    top: 12%;
    left: 12%;
    bottom: 12%;
    right: 12%;
    border-radius: 100%;
    background-color: gray;
    opacity: 0;
}

.ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 100%;
    border: 8px solid gray;
    opacity: 0.8;
}

.photo-button .circle,
.photo-button .ring {
    transition: all 0.25s;
}

.photo-button:hover .circle {
    opacity: 1;
}

.photo-button:active .ring {
    opacity: 1;
}

.photo-button:active .circle {
    opacity: 0.5;
}


@media (max-width:900px) {

    video,
    canvas {
        width: 550px;
    }
}

@media (max-width:650px) {

    .circle {
        opacity: 1;
    }

    .ring {
        border: 5px solid gray;
    }

    .photo-button {
        width: 70px;
        height: 70px;
    }

    video,
    canvas {
        width: 320px;
    }

    #options {
        flex-direction: column;
    }

    section {
        display: block;
    }
}


@media (max-width:340px) {

    video,
    canvas {
        width: 280px;
    }
}